.slideshow {
    position: relative;
  }
  
  .imagens {
    transition: all 500ms;
  }
  
  .acoes {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .acoes button {
    background: #0000003d;
    border: none;
    cursor: pointer;
    padding: 10px;
    padding-top: 10px;
    margin: 5px;
    border-radius: 15px;
    padding-top: 5px;
  }
  
  .acoes button:active {
    background: #000000a2;
    border: none;
    cursor: pointer;
    padding: 10px;
    padding-top: 10px;
    margin: 5px;
    border-radius: 15px;
    padding-top: 5px;
  }