.slideshow {
    background: var(--clr-cinza-800);
  }
  
  .imagens  {
    transition: all 500ms;
    width: 100vw;
    max-height: 50vh;
  }
  
  .acoes {
    position: absolute;
    top: 30vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .acoes button {
    background: #ababab96;
    border: none;
    cursor: pointer;
    width: 50px;
    padding: 10px;
    color: #efefef;
    height: 50px;
    margin: 1em;
    border-radius: 2em;

    &:active {
        background: #c7d7d247;
        transition: all 500ms;
      }
  }
  
