.cadastrar {
  background: white;
  border-radius: 2em;
  padding: 4em;
  max-width: 475px;
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-self: end;
  transition: box-shadow 0.5s;

  &:hover {
    box-shadow: 9px 5px 20px 0px #e5e5e5;
  }

  @media (max-width: 1490px) {
    width: 100%;
    padding: 3em;
  }
}

.cadastrar h2 {
  font-size: 2.25em;
  width: 75%;
  font-weight: bold;
  line-height: 1.25;
  margin: 0 0 2em 0;
}

.entrar {
  background: white;
  border-radius: 2em;
  padding: 4em;
  max-width: 475px;
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 1490px) {
    width: 100%;
    padding: 3em;
  }
}

.entrar button.a {
  color: white;
}

.entrar h2 {
  font-size: 1.9em;
  font-weight: bold;
  line-height: 1.25;
  margin: 0 0 1em 0;
}

.paragrafo {
  margin: 0 0 0.5em 0;
  font-size: 0.9em;
  color: #666;
  transition: 250ms;

  &:hover {
    color: #333;
  }
}

.form {
  border-radius: 1em;
  padding: 1em 2em;
  border: 2px solid #ddd;
  background: white;
  width: 100%;
  font: inherit;
  margin: 0 0 0.75em 0;
}

.cadastro-senha {
  display: flex;
  justify-content: space-between;
}
