.botao-comprar {
    --clr-border: #d9d9d9;
    padding: 1em;
    width: 100%;
    font-size: .9rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--clr-cinza-800);
    border-radius: 1em;
    cursor: pointer;
    border: 3px solid var(--clr-border);
    -webkit-transition: 250ms;
    transition: 250ms;
}
