
/* PESQUISA */

.d-flex, .formulario {
        display: flex;
}

.pesquisar {
    width: 100%;
    padding: 10px 15px;
    color: #999;
    border: 1px solid whitesmoke;
    border-radius: 15px;
    font-weight: 500;
}

.pesquisar:hover {
    border: 1px solid white;
}

.lupa {
        background: none;
        color: var(--clr-preto);
        border: none;
        position: relative;
        left: -30px;
}



/* BOTOES */

.cadastre-se {
        max-width: 120px;
        display: flex;
        align-items: center;
        text-align: left;
        background: transparent;
        border: none;
}

.fa-user-plus, .fa-shopping-cart {
        font-size: 2em !important;
        margin: 0.5rem;
}

/* MEDIA */

@media(max-width: 768px) {
        a.link-cadastre {
                display:none;
        }

        .iberta {
                display: none;
              }

      }