:root {
  --ff-cabin: Cabin, sans-serif;

  --clr-azul-900: #05f2c7;
  --clr-azul-450: #a0f2db;
  --clr-azul-100: #c2f2e9;

  --clr-cinza-100: #efefef;
  --clr-cinza-800: #757575;
  --clr-preto: #0d0d0d;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-cabin);
  color: var(--clr-cinza-800);
  line-height: 1.5;
}
