:root {
  --ff-principal: 'Readex Pro', sans-serif;

  --clr-azul-900: #05f2c7;
  --clr-azul-450: #a0f2db;
  --clr-azul-100: #c2f2e9;

  --clr-cinza-100: #efefef;
  --clr-cinza-800: #757575;

  --clr-branco: #fff;
  --clr-preto: #0d0d0d;

  --mq-mobile: 768px;
  --mq-tablet: 1010px;
}

body {
  color: var(--clr-cinza-800);
  font: {
    family: var(--ff-principal);
    weight: 500;
  }
}
